* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

#navbar {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.link {
  text-decoration: none;
  color: white;
  margin: 0 20px;
}

#title {
  text-align: center;
  margin: 25px 0;
}

.section {
  padding: 50px;
}

.section-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.project {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  transition: all 0.2s ease-in-out;
}

.project:hover {
  transform: scale(1.05);
}

#footer {
  text-align: center;
  padding: 10px 0;
  background-color: #333;
  color: white;
}

#scrollToTopBtn {
  padding: 4px 10px;
  display: block;
  margin: 0 auto;
}
